<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">


<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Divan Cafe</title>
        <meta name="description" content="">
        <meta name="robots" content="noindex, follow" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">
		
		<!-- all css here -->
        <link rel="stylesheet" href="assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="assets/css/icons.css">
        <link rel="stylesheet" href="assets/css/plugins.css">
        <link rel="stylesheet" href="assets/css/style.css">
        <link rel="stylesheet" href="assets/css/responsive.css">
        <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!-- header start -->
        <header class="header-area transparent-bar header-black">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-5 col-sm-4">
                        <div class="logo">
                            <a href="/home">
                                <img alt="" src="assets/img/logo/logo1.png" style="width: 80px; height: 80px; margin-top: -20px;">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-8 col-7 col-sm-8">
                        <div class="menu-search-bundle">
                            <div class="main-menu">
                                <nav>
                                    <ul>
                                        <li><a href="/home">Home</a></li>
                                        <li><a href="https://forms.gle/s6vHyHDUBd8APCY37" target="blank">Divan Survey</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="mobile-menu-area d-md-block d-block col-md-12 col-lg-12 col-12 d-lg-none d-xl-none">
                        <div class="mobile-menu">
                            <nav id="mobile-menu-active">
                                <ul class="menu-overflow">
                                    <li><a href="/home">Home</a></li>
                                    <li><a href="https://forms.gle/s6vHyHDUBd8APCY37">Divan Survey</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="breadcrumb-area bg-img ptb-80" style="background-image:url(assets/img/banner/book-a-table.jpg);">
            <div class="container">
                <div class="breadcrumb-content text-center">
                    <h3>Divan</h3>
                </div>
            </div>
        </div>
        <div class="product-menu-area pt-100 pb-70 gray-bg">
            <div class="container">
                <div class="section-title text-center mb-50">
                    <h2>Today's Menu</h2>
				</div>
                <div class="menu-tab-wrap mb-50">
                    <div class="menu-tab-list nav text-center">
                        <a class="active" href="#tab1" data-toggle="tab">
                            Snacks
                        </a>
                        <a href="#snack" data-toggle="tab">
                            Salads
                        </a>
                        <a href="#salad" data-toggle="tab">
                            Soups
                        </a>
                        <a href="#tab4" data-toggle="tab">
                            Hot Meals
                        </a>
                        <a href="#tab5" data-toggle="tab">
                            Garniers
                        </a>
                        <a href="#tab6" data-toggle="tab">
                            Deserts
                        </a>
						<a href="#tab7" data-toggle="tab">
                            Drinks
                        </a>
						<a href="#tab8" data-toggle="tab">
                            Fruits
                        </a>
                    </div>
                </div>
                <div class="tab-content jump" th:each="Meal: ${Meal}">
                    <div th:id="${Meal.category}">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="single-menu-product mb-30">
                                    <div class="menu-product-img">
                                        <img alt="" src="assets/img/product/sneakers.jpg">
                                    </div>
                                    <div class="menu-product-content">
                                        <div class="menu-title-price">
                                            <div class="menu-title">
                                                <h4
                                                    th:text="${Meal.name}">
                                                </h4>
                                            </div>
                                            <div class="menu-price">
                                                <span th:text="${Meal.price}"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer class="footer-area">
            <div class="footer-bottom black-bg-2 pb-25 pt-25">
                <div class="container">
                    <div class="copyright text-center">
                        <p>Copyright © <a href="#">ADAMenu</a>. All Right Reserved.</p>
                    </div>
                </div>
            </div>
        </footer>
        
		
		<!-- all js here -->
        <script src="assets/js/vendor/jquery-1.12.0.min.js"></script>
        <script src="assets/js/popper.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/ajax-mail.js"></script>
        <script src="assets/js/plugins.js"></script>
        <script src="assets/js/main.js"></script>
    </body>

</html>
